<%- include('partials/header') -%>

<nav class="mt-5" >
    <div class="d-flex justify-content-around">
        <a href="/home" class=link-primary>Feed</a>
        <a href="/createBlog" class="link-primary">Create Blog</a>
        <a href="#" class="link-primary">Popular Blogs</a>
        <!-- will need to obtain user object to verify if user logged in order to display my profile option -->
        <a href="#" class="link-primary">My Profile</a>
        <a href="/logout" class="link-primary">Logout</a>
    </div>
</nav>

<%- include('partials/footer') -%>